body{
    background-color: white;
    margin: 0px;
    height: 1000px;
    margin: 0 auto; 
    width: 73%;
    padding: 17px;
}


.header {
   background-color: rgb(255, 255, 255);
   padding: 10px;
   

}


ul > li {
    display: inline-block;
    /* You can also add some margins here to make it look prettier */
}

.upper {
    text-align: right;
    margin: 0 auto; 
    width: 90%;
}

.lower {
    
    margin: 0 auto; 

}

.row1 {
 
    
    display: table;
    table-layout: fixed;
    width: 100%;
    
}

.row2 {
 
    margin-top: 10px;
    display: table;
    table-layout: fixed;
    width: 100%;
    
}

.box1 {
    display: table-cell;
    width: 50%;
    background-color: #191441;
    margin: 300px;
    

}

.box2 {
    display: table-cell;
    width: 50%;
    height: 300px;
    margin: 300px;

}

.box2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-position: center; 
    background-size: cover
    
}

.box3 {
    display: table-cell;
    padding:10px;
    width: 50%;
    height: 420px;
    background-color: bisque;
    margin: 100px;

}


.box4 {
    display: table-cell;
    padding:10px;
    width: 50%;
    height: 350px;
    background-color: bisque;

}


.box5 {
    display: table-cell;
    padding:10px;
    width: 50%;
    height: 350px;
    background-color: bisque;

}


